
/* Canvas base (puntos que parpadean) */
#twinkle-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 100%;
}
#constellation-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#twinkle-bg {
    z-index: -2;
}

#constellation-bg {
    z-index: -1;
}
